<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="10.99.248.15" value="https://10.99.248.15:8443/api" />
    <add key="10.99.248.24" value="https://10.99.248.24:8443/api" />
    <add key="10.99.248.50" value="https://10.99.248.50:8443/api" />
    <add key="10.99.250.15" value="https://10.99.250.15:8443/api" />
    <add key="10.99.250.24" value="https://10.99.250.24:8443/api" />
    <add key="10.99.250.45" value="https://10.99.250.45:8443/api" />
    <add key="Default" value="https://localhost:8443/api" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>